In [1]:
from DB_utils import *

In [2]:
# Establish connection
db_handler = DBhandler(db_loc="data/", db_name="crime_data_UK.db")

Established connection with database!

In [ ]:
db_handler.delete_table("force_districts")

# Create table force_districts
db_handler.create_table(
    table_name='force_districts',
    columns={'force_district_name': 'TEXT PRIMARY KEY',
                'multipolygon':'TEXT'
                }
)

# Preprocess data for force_districts
path_to_district_kml_files = "data/force_kmls/"
list_of_district_kmls = os.listdir(path_to_district_kml_files)

df_polygons_of_districts = []
for district_kml in list_of_district_kmls:
    df_polygons_of_districts.append(parse_kml_multipolygon(parent_path=path_to_district_kml_files, kml_file=district_kml))

df_districts = pd.concat(df_polygons_of_districts, ignore_index=True)
df_districts.multipolygon = df_districts.multipolygon.apply(lambda x: json.dumps(x))

# Insert data into force_districts
db_handler.insert_rows(
    table_name='force_districts',
    data=df_districts.to_dict(orient='records')
)

Table 'force_districts' deleted successfully (if it existed).


Table 'force_districts' created successfully (if non-existing).


Inserted 44 rows into 'force_districts' successfully.

In [8]:
db_handler.delete_table("crime")

# Create table crime data
db_handler.create_table(
    table_name='crime',
    columns={'crime_id':'TEXT PRIMARY KEY',
                'month':'TEXT',
                'reported_by':'TEXT',
                'falls_within':'TEXT',
                'long':'REAL',
                'lat':'REAL',
                'location':'TEXT',
                'lsoa_code':'TEXT',
                'crime_type':'TEXT',
                'last_outcome_category':'TEXT'
                }
)

for file in list_all_street_crime_csv_files():
    temp_df = extract_and_transform_crime_data(file, True, db_handler.existing_crime_ids).drop(columns=["LSOA name", "Context"])

    temp_df.columns = temp_df.columns.str.strip().str.lower()

    temp_df = temp_df.rename(
        columns={
            "crime id": "crime_id",
            "month": "month",
            "reported by": "reported_by",
            "falls within": "falls_within",
            "longitude": "long",
            "latitude": "lat",
            "location":"location",
            "lsoa code": "lsoa_code",
            "crime type":"crime_type",
            "last outcome category":"last_outcome_category"
        }
    )
    
    db_handler.insert_rows(
        table_name='crime',
        data=temp_df.to_dict(orient='records')
    )

print("\nInserted all crime data with crime ids!\n")

for file in list_all_street_crime_csv_files():
    temp_df = extract_and_transform_crime_data(file, False, db_handler.existing_crime_ids).drop(columns=["LSOA name", "Context"])

    temp_df.columns = temp_df.columns.str.strip().str.lower()

    temp_df = temp_df.rename(
        columns={
            "crime id": "crime_id",
            "month": "month",
            "reported by": "reported_by",
            "falls within": "falls_within",
            "longitude": "long",
            "latitude": "lat",
            "location":"location",
            "lsoa code": "lsoa_code",
            "crime type":"crime_type",
            "last outcome category":"last_outcome_category"
        }
    )
    
    db_handler.insert_rows(
        table_name='crime',
        data=temp_df.to_dict(orient='records')
    )

print("\nInserted all data with generated crime ids!\n")

db_handler.delete_table("existing_crime_ids")
db_handler.create_table("existing_crime_ids", columns={
    "existing_crime_id": "TEXT PRIMARY KEY"
})

db_handler.insert_rows("existing_crime_ids", data=[{"existing_crime_id":i} for i in db_handler.existing_crime_ids])

Table 'crime' deleted successfully (if it existed).


Table 'crime' created successfully (if non-existing).


Inserted 616 rows into 'crime' successfully.


Inserted 72612 rows into 'crime' successfully.


Inserted 582 rows into 'crime' successfully.


Inserted 67617 rows into 'crime' successfully.


Inserted 648 rows into 'crime' successfully.


Inserted 74638 rows into 'crime' successfully.


Inserted 628 rows into 'crime' successfully.


Inserted 72219 rows into 'crime' successfully.


Inserted 711 rows into 'crime' successfully.


Inserted 74309 rows into 'crime' successfully.


Inserted 707 rows into 'crime' successfully.


Inserted 72131 rows into 'crime' successfully.


Inserted 610 rows into 'crime' successfully.


Inserted 68416 rows into 'crime' successfully.


Inserted 662 rows into 'crime' successfully.


Inserted 75217 rows into 'crime' successfully.


Inserted 655 rows into 'crime' successfully.


Inserted 74570 rows into 'crime' successfully.


Inserted 673 rows into 'crime' successfully.


Inserted 68133 rows into 'crime' successfully.


Inserted 663 rows into 'crime' successfully.


Inserted 72389 rows into 'crime' successfully.


Inserted 695 rows into 'crime' successfully.


Inserted 68515 rows into 'crime' successfully.


Inserted 671 rows into 'crime' successfully.


Inserted 76442 rows into 'crime' successfully.


Inserted 701 rows into 'crime' successfully.


Inserted 70213 rows into 'crime' successfully.


Inserted 728 rows into 'crime' successfully.


Inserted 75937 rows into 'crime' successfully.


Inserted 733 rows into 'crime' successfully.


Inserted 84002 rows into 'crime' successfully.


Inserted 708 rows into 'crime' successfully.


Inserted 77674 rows into 'crime' successfully.


Inserted 760 rows into 'crime' successfully.


Inserted 73685 rows into 'crime' successfully.


Inserted 779 rows into 'crime' successfully.


Inserted 74815 rows into 'crime' successfully.


Inserted 832 rows into 'crime' successfully.


Inserted 82330 rows into 'crime' successfully.


Inserted 828 rows into 'crime' successfully.


Inserted 79124 rows into 'crime' successfully.


Inserted 823 rows into 'crime' successfully.


Inserted 77059 rows into 'crime' successfully.


Inserted 722 rows into 'crime' successfully.


Inserted 74897 rows into 'crime' successfully.


Inserted 791 rows into 'crime' successfully.


Inserted 73830 rows into 'crime' successfully.


Inserted 705 rows into 'crime' successfully.


Inserted 73576 rows into 'crime' successfully.


Inserted 888 rows into 'crime' successfully.


Inserted 71907 rows into 'crime' successfully.


Inserted 891 rows into 'crime' successfully.


Inserted 74953 rows into 'crime' successfully.


Inserted 813 rows into 'crime' successfully.


Inserted 74756 rows into 'crime' successfully.


Inserted 858 rows into 'crime' successfully.


Inserted 77734 rows into 'crime' successfully.


Inserted 768 rows into 'crime' successfully.


Inserted 75368 rows into 'crime' successfully.


Inserted 719 rows into 'crime' successfully.


Inserted 74572 rows into 'crime' successfully.


Inserted 866 rows into 'crime' successfully.


Inserted 80455 rows into 'crime' successfully.


Inserted 810 rows into 'crime' successfully.


Inserted 79711 rows into 'crime' successfully.


Inserted 763 rows into 'crime' successfully.


Inserted 75165 rows into 'crime' successfully.


Inserted 627 rows into 'crime' successfully.


Inserted 70814 rows into 'crime' successfully.


Inserted 695 rows into 'crime' successfully.


Inserted 68414 rows into 'crime' successfully.


Inserted all crime data with crime ids!


Inserted 71 rows into 'crime' successfully.


Inserted 35180 rows into 'crime' successfully.


Inserted 72 rows into 'crime' successfully.


Inserted 18299 rows into 'crime' successfully.


Inserted 70 rows into 'crime' successfully.


Inserted 20775 rows into 'crime' successfully.


Inserted 60 rows into 'crime' successfully.


Inserted 20325 rows into 'crime' successfully.


Inserted 75 rows into 'crime' successfully.


Inserted 21729 rows into 'crime' successfully.


Inserted 76 rows into 'crime' successfully.


Inserted 21800 rows into 'crime' successfully.


Inserted 89 rows into 'crime' successfully.


Inserted 17412 rows into 'crime' successfully.


Inserted 124 rows into 'crime' successfully.


Inserted 36524 rows into 'crime' successfully.


Inserted 93 rows into 'crime' successfully.


Inserted 15354 rows into 'crime' successfully.


Inserted 62 rows into 'crime' successfully.


Inserted 14585 rows into 'crime' successfully.


Inserted 56 rows into 'crime' successfully.


Inserted 14822 rows into 'crime' successfully.


Inserted 88 rows into 'crime' successfully.


Inserted 14526 rows into 'crime' successfully.


Inserted 38 rows into 'crime' successfully.


Inserted 16391 rows into 'crime' successfully.


Inserted 37 rows into 'crime' successfully.


Inserted 17334 rows into 'crime' successfully.


Inserted 46 rows into 'crime' successfully.


Inserted 20203 rows into 'crime' successfully.


Inserted 26 rows into 'crime' successfully.


Inserted 21945 rows into 'crime' successfully.


Inserted 18 rows into 'crime' successfully.


Inserted 21744 rows into 'crime' successfully.


Inserted 5 rows into 'crime' successfully.


Inserted 20616 rows into 'crime' successfully.


Inserted 5 rows into 'crime' successfully.


Inserted 21204 rows into 'crime' successfully.


Inserted 19 rows into 'crime' successfully.


Inserted 20045 rows into 'crime' successfully.


Inserted 19 rows into 'crime' successfully.


Inserted 17679 rows into 'crime' successfully.


Inserted 20 rows into 'crime' successfully.


Inserted 16337 rows into 'crime' successfully.


Inserted 12 rows into 'crime' successfully.


Inserted 16514 rows into 'crime' successfully.


Inserted 35 rows into 'crime' successfully.


Inserted 16945 rows into 'crime' successfully.


Inserted 52 rows into 'crime' successfully.


Inserted 18015 rows into 'crime' successfully.


Inserted 38 rows into 'crime' successfully.


Inserted 18221 rows into 'crime' successfully.


Inserted 53 rows into 'crime' successfully.


Inserted 22124 rows into 'crime' successfully.


Inserted 33 rows into 'crime' successfully.


Inserted 21979 rows into 'crime' successfully.


Inserted 40 rows into 'crime' successfully.


Inserted 22507 rows into 'crime' successfully.


Inserted 58 rows into 'crime' successfully.


Inserted 22161 rows into 'crime' successfully.


Inserted 28 rows into 'crime' successfully.


Inserted 19409 rows into 'crime' successfully.


Inserted 35 rows into 'crime' successfully.


Inserted 20330 rows into 'crime' successfully.


Inserted 11 rows into 'crime' successfully.


Inserted 18300 rows into 'crime' successfully.


Inserted 3 rows into 'crime' successfully.


Inserted 15900 rows into 'crime' successfully.


Inserted 2 rows into 'crime' successfully.


Inserted 16138 rows into 'crime' successfully.


Inserted 6 rows into 'crime' successfully.


Inserted 15246 rows into 'crime' successfully.


Inserted all data with generated crime ids!


Table 'existing_crime_ids' deleted successfully (if it existed).


Table 'existing_crime_ids' created successfully (if non-existing).


Inserted 3336777 rows into 'existing_crime_ids' successfully.

In [9]:
db_handler.close_connection_db()

Connection successfully closed!

In [ ]:
df = db_handler.query(query_txt='SELECT * FROM crime', analyze_query_time=True)

Time it took to run the query: 36.626961