In [3]:
import pandas as pd
import numpy as np

In [12]:
data_metro_street = pd.read_csv("data/2025-02/2025-02-metropolitan-street.csv")
data_metro_outcomes = pd.read_csv("data/2025-02/2025-02-metropolitan-outcomes.csv")

data_merseyside_stop_search = pd.read_csv("data/2025-02/2025-02-merseyside-stop-and-search.csv")

In [20]:
data_merseyside_stop_search.head()

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing
0,Person search,2025-02-01T00:00:50+00:00,NaN,NaN,53.410921,-2.839433,Male,10-17,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Articles for use in criminal damage,A no further action disposal,NaN,False
1,Person search,2025-02-01T00:03:13+00:00,NaN,NaN,53.436113,-2.975888,Male,25-34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,False
2,Person search,2025-02-01T00:03:27+00:00,NaN,NaN,53.405308,-2.987924,Male,10-17,White - Any other White background,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Community resolution,True,False
3,Person and Vehicle search,2025-02-01T00:05:33+00:00,NaN,NaN,53.457551,-2.847627,Male,25-34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,False
4,Person search,2025-02-01T00:27:22+00:00,NaN,NaN,53.404497,-2.983799,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,False

In [15]:
data_metro_outcomes.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Outcome type
0,a9ca87b9ebc0871c6104224424344c77fd0f7a7c298fa6...,2025-02,Metropolitan Police Service,Metropolitan Police Service,-0.198700,51.579558,On or near Portsdown Mews,E01000216,Barnet 035E,Unable to prosecute suspect
1,8027361839a444ec6d18ba3cd1ae01449ad1344a7b72f6...,2025-02,Metropolitan Police Service,Metropolitan Police Service,-4.039378,51.711872,On or near Coedbach Road,W01000846,Swansea 001B,Unable to prosecute suspect
2,2fb1d1f4852efb16255b5895ed9ec4730a7dad1b163083...,2025-02,Metropolitan Police Service,Metropolitan Police Service,-0.143823,51.539595,On or near Shopping Area,E01000863,Camden 021A,Unable to prosecute suspect
3,4e6fb44d556a41aa3a5b3fefdc3ee060288c586420a145...,2025-02,Metropolitan Police Service,Metropolitan Police Service,-0.446066,51.559562,On or near Long Lane,E01002463,Hillingdon 013B,Unable to prosecute suspect
4,e9658eb0bdd8f345c42e66eb4bf8ae719600195216061f...,2025-02,Metropolitan Police Service,Metropolitan Police Service,-0.071376,51.589702,On or near Library Court,E01001979,Haringey 011D,Unable to prosecute suspect

In [16]:
data_metro_street.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,e8a04351172423f56f4abf6fc6ca6c906c347369aeaf74...,2025-02,Metropolitan Police Service,Metropolitan Police Service,-0.281948,50.835134,On or near Salt Marsh Road,E01031368,Adur 005D,Other crime,Unable to prosecute suspect,NaN
1,3a85d294a87e1cfe2340219a1577e4661414bffa954f05...,2025-02,Metropolitan Police Service,Metropolitan Police Service,-1.274981,53.141017,On or near New Lane,E01027983,Ashfield 001D,Violence and sexual offences,Under investigation,NaN
2,6f905771df28829ce9e2cc3e197a92258748346b49b797...,2025-02,Metropolitan Police Service,Metropolitan Police Service,-1.208817,53.037426,On or near Charles Street,E01027928,Ashfield 014B,Violence and sexual offences,Under investigation,NaN
3,6950eff14bce60f4726b5f46a1b0a95f72ac95a7ab91f4...,2025-02,Metropolitan Police Service,Metropolitan Police Service,0.918078,51.137341,On or near Laburnam Lane,E01024004,Ashford 006E,Violence and sexual offences,Under investigation,NaN
4,e54de7f2621a243375c8a1082dc776a2ef375bd204060c...,2025-02,Metropolitan Police Service,Metropolitan Police Service,0.680248,51.099244,On or near Biddenden Road,E01024032,Ashford 011C,Violence and sexual offences,Under investigation,NaN

In [8]:
data_metro_street.columns

Index(['Crime ID', 'Month', 'Reported by', 'Falls within', 'Longitude',
       'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category', 'Context'],
      dtype='object')

In [13]:
data_metro_street.groupby(by="LSOA code").count()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA name,Crime type,Last outcome category,Context
LSOA code,,,,,,,,,,,
E01000001,4,4,4,4,4,4,4,4,4,4,0
E01000002,6,6,6,6,6,6,6,6,6,6,0
E01000003,2,3,3,3,3,3,3,3,3,2,0
E01000005,19,23,23,23,23,23,23,23,23,19,0
E01000006,7,7,7,7,7,7,7,7,7,7,0
...,...,...,...,...,...,...,...,...,...,...,...
W01001873,1,1,1,1,1,1,1,1,1,1,0
W01001904,1,1,1,1,1,1,1,1,1,1,0
W01001959,1,1,1,1,1,1,1,1,1,1,0
W01002019,1,1,1,1,1,1,1,1,1,1,0
W01002026,2,2,2,2,2,2,2,2,2,2,0

In [24]:
data_metro_street.columns

Index(['Crime ID', 'Month', 'Reported by', 'Falls within', 'Longitude',
       'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category', 'Context'],
      dtype='object')

In [23]:
data_metro_street["Crime ID"][0]

'e8a04351172423f56f4abf6fc6ca6c906c347369aeaf74327cd909347971efaf'

In [25]:
import xml.etree.ElementTree as ET

# Load the .kml file
tree = ET.parse(r"C:\Users\20223112\Downloads\force_kmls\force kmls\west-midlands.kml")
root = tree.getroot()

# KML files use namespaces, you have to define it
namespace = {'kml': 'http://www.opengis.net/kml/2.2'}

# Example: Find all Placemark elements
placemarks = root.findall('.//kml:Placemark', namespace)

for placemark in placemarks:
    name = placemark.find('kml:name', namespace)
    coords = placemark.find('.//kml:coordinates', namespace)

    if name is not None and coords is not None:
        print(f"Name: {name.text}, Coordinates: {coords.text}")

In [31]:
import geopandas as gpd

# Read KML file
gdf = gpd.read_file(r"C:\Users\20223112\Downloads\force_kmls\force kmls\west-midlands.kml", driver='KML')

gdf.geometry

0    MULTIPOLYGON Z (((-2.00125 52.38359 0, -2.0012...
Name: geometry, dtype: geometry

In [36]:
import pandas as pd
import xml.etree.ElementTree as ET
import re

def parse_kml_multipolygon(kml_file: str) -> pd.DataFrame:
    """
    Parses a KML file containing a MultiPolygon and returns a Pandas DataFrame.
    Works even if namespace changes.
    """

    # Parse
    tree = ET.parse(kml_file)
    root = tree.getroot()

    # Dynamically extract namespace
    m = re.match(r'\{.*\}', root.tag)
    namespace = m.group(0) if m else ''

    # Find Placemark anywhere
    placemarks = root.findall(f'.//{namespace}Placemark')
    if not placemarks:
        raise ValueError(f"No Placemark found in {kml_file}")

    # Assume one placemark (your case)
    placemark = placemarks[0]

    # Find coordinates (could be multiple)
    coordinates_list = []
    for coords_elem in placemark.findall(f'.//{namespace}coordinates'):
        coords_text = coords_elem.text.strip()
        polygon = []
        for coord in coords_text.split():
            lon, lat, *_ = coord.split(',')
            polygon.append((float(lat), float(lon)))  # (lat, lon) order
        coordinates_list.append(polygon)

    # Build DataFrame
    data = {
        'multipolygon': [coordinates_list]
    }

    df = pd.DataFrame(data)
    return df

parse_kml_multipolygon(r"C:\Users\20223112\Downloads\force_kmls\force kmls\west-midlands.kml")

                                        multipolygon
0  [[(52.38359489, -2.00125404861), (52.383593996...

In [29]:
import sqlite3

con = sqlite3.connect("data/crime_data_UK.db")

data_temp = pd.read_sql("SELECT * FROM crime", con=con)

con.close()

In [30]:
data_temp

Empty DataFrame
Columns: [db_id, crime_id, month, reported_by, falls_within, long, lat, location, lsoa_code, lsoa_name, crime_type, last_outcome_category, context]
Index: []